# PyMC3 and its dependencies
pymc3
theano-pymc

# PyStan for Stan integration in Python
pystan

# TensorFlow and TensorFlow Probability
tensorflow>=2.0
tensorflow-probability

# Pyro and its dependency
torch
pyro-ppl